body,
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ae-transition {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #222;
  transition: opacity 0.5s;
  z-index: 50;
  opacity: 0;
  pointer-events: none;
}

.ae-transition.is-transition-start {
  opacity: 1;
}

.ae-error-message {
  display: inline-block;
  margin: 16px;
  padding: 8px 16px;
  color: #fafafa;
  background-color: #c44;
  border-radius: 3px;
}

.ae-cursor-hint {
  position: fixed;
  width: 24px;
  height: 24px;
  margin-top: -16px;
  margin-left: 10px;
  background-size: cover;
  background-position: center;
  z-index: 30;
}

.ae-textbox {
  padding: 8px 16px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 40px;
  color: #fafafa;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  z-index: 20;
}

.ae-game {
  position: relative;
  overflow: hidden;
}

.ae-game * {
  user-select: none;
}

.ae-room {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.ae-game-object {
  position: absolute;
  height: auto;
  background-size: cover;
  background-position: center;
}

.ae-portal {
  position: absolute;
}

.ae-debug .ae-game-object,
.ae-debug .ae-portal {
  box-shadow: 0 0 0 1px magenta;
}

.ae-inventory {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 8px;
  display: flex;
  gap: 8px;
  background-color: #fafafa;
}

.ae-inventory .ae-game-object {
  position: static;
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
  border: 1px solid #666;
  border-radius: 3px;
  background-color: #fafafa;
}

.ae-interaction-panel {
  padding: 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  gap: 8px;
  background-color: #fafafa;
}

.ae-interaction {
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
}
