:root {
  --error: #c44;
  --grey: #666;
  --dark-grey: #222;
  --super-light: #fafafa;
}

body,
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ae-transition {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--dark-grey);
  transition: opacity 0.5s;
  z-index: 50;
  opacity: 0;
  pointer-events: none;
}

.ae-transition.is-transition-start {
  opacity: 1;
}

.ae-error-message {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 16px;
  padding: 8px 16px;
  color: var(--super-light);
  background-color: var(--error);
  border-radius: 3px;
  z-index: 40;
}

.ae-cursor-hint {
  position: absolute;
  width: 24px;
  height: 24px;
  margin-top: -16px;
  margin-left: 10px;
  background-size: cover;
  background-position: center;
  z-index: 30;
}

.ae-cursor-hint .ae-debug-elem {
  width: 40px;
}

.ae-textbox {
  padding: 8px 16px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 40px;
  color: var(--super-light);
  font-family: dialog;
  font-size: 16px;
  text-align: center;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  z-index: 20;
}

.ae-game {
  position: relative;
  overflow: hidden;
}

.ae-game * {
  user-select: none;
}

.ae-room {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.ae-game-object {
  position: absolute;
  height: auto;
  z-index: 10;
}

.ae-game-object.is-ghost {
  z-index: 8;
}

.ae-game-object-image {
  max-width: 100%;
  height: auto;
}

.ae-portal {
  position: absolute;
}

.ae-debug:before {
  content: 'Press d to toggle debug view elements';
  position: absolute;
  pointer-events: none;
  padding: 2px 4px;
  color: var(--super-light);
  font-size: 0.8rem;
  background-color: rgba(255, 0, 255, 0.3);
}

.ae-debug-view .ae-game-object,
.ae-debug-view .ae-portal {
  box-shadow: 0 0 0 1px magenta;
}

.ae-debug-elem {
  position: absolute;
  padding: 2px 4px;
  color: var(--super-light);
  font-size: 0.8rem;
  background-color: rgba(255, 0, 255, 0.3);
  pointer-events: none;
  display: none;
}

.ae-debug-view .ae-debug-elem {
  display: block;
}

.ae-inventory {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 8px;
  display: flex;
  gap: 8px;
  background-color: var(--super-light);
}

.ae-inventory .ae-game-object {
  position: static;
  min-width: 40px;
  min-height: 40px;
  max-width: 40px;
  max-height: 40px;
  background-size: cover;
  background-position: center;
  border: 1px solid var(--grey);
  border-radius: 3px;
  background-color: var(--super-light);
}

.ae-interaction-panel {
  padding: 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  gap: 8px;
  background-color: var(--super-light);
}

.ae-interaction {
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
}
