---
interface Props {
    title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta
            name='description'
            content='Create a simple point-and-click game without any programming skills neccessary!'
        />
        <meta name='viewport' content='width=device-width' />
        <meta name='generator' content={Astro.generator} />
        <title>{title}</title>
        <link href='/styles.css' rel='stylesheet' />
    </head>
    <body>
        <slot />
    </body>
</html>
